{% extends "base.html" %}

{% block content %}
  <div class="order">
    <h1>Заказы</h1>
    {% for order_id, order in collected_cart.items %}
    <div>
      <h3><a href="{% url 'transport:order' order_id %}">Заказ {{ order_id }}</a></h3>
      {% for container in order.containers %}
        <li><a href="{% url 'transport:cont' container.id %}">{{  container.name }}</a>- {{ container.price }}</li>
      {% endfor %}
      <p>Итого: {{ order.total_price }} ({{ order.count }} шт.)</p>
    </div>  
    {% endfor %}
  </div>
{% endblock %}